<%#--
This file written by XCC
06/07/2019
++#%>

<%= error_messages_for :report_progress_project %>
<%= error_messages_for :target %>
<section class="form--section">
     <%= link_to "Сформировать", {report_id: "report_progress_project"}, class: 'button' %>
  <h3>Графики достижения показателей. Приложение 1, 2</h3>
  <div class="form--field">
    <%= select_tag(:selected_target_id, options_for_select(@project.targets.map {|u| [u.name, u.id]})) %>
  </div>
  <%= link_to "Сформировать",  {report_id: "report_progress_project_pril_1_2"},  class: 'pass-params-from-select button'%>
</section>
