<%#--
by zbd
22.06.2019
++#%>

<%= error_messages_for :contract %>
<section class="form--section">
  <div class="form--field content--split"><%= f.date_field 'contract_date', required: true, container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'contract_num', required: true, container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'contract_subject', required: true, container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'eis_href', required: true, container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'price', required: true, container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'executor', required: true, container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'name', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'sposob', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'gos_zakaz', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'date_begin', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'date_end', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'etaps', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.hidden_field 'project_id', value: @project_id %></div>

  <% if User.current.admin?%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle'%>
    </div>
  <% else%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle', readonly: true, disabled: true %>
    </div>
  <% end %>

  <% unless f.object.custom_field_values.empty? %>
    <h3 class="form--section-title"><%= t(:label_custom_field_plural) %></h3>
    <%= render partial: 'customizable/form', locals: { form: f,
                                      all_fields: true,
                                      only_required: false,
                                      obj: @contract,
                                      from: 'contracts' } %>
  <% end %>

</section>

