<%#--
by zbd
22.06.2019
++#%>

<%= form_tag({}) do -%>

  <div class="generic-table--container">
    <div class="generic-table--results-container">
      <table class="generic-table" id="contract_items">
        <colgroup>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
        </colgroup>
        <thead>
        <tr>
          <%= sort_header_tag("id", :caption => '#', :default_order => 'desc') %>
          <%= sort_header_tag("contract_date", :caption => Contract.human_attribute_name(:contract_date)) %>
          <%= sort_header_tag("contract_num", :caption => Contract.human_attribute_name(:contract_num)) %>
          <%= sort_header_tag("contract_subject", :caption => Contract.human_attribute_name(:contract_subject)) %>
          <%= sort_header_tag("price", :caption => Contract.human_attribute_name(:price)) %>
          <%= sort_header_tag("executor", :caption => Contract.human_attribute_name(:executor)) %>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <% contracts.each do |contract| %>
          <tr id="contract-<%= contract.id %>">
            <%= content_tag(:td, link_to(h(contract.id), edit_project_contract_path(id: contract.id))) %>
            <%= content_tag(:td, contract.contract_date) %>
            <%= content_tag(:td, link_to(h(contract.contract_num), edit_project_contract_path(id: contract.id))) %>
            <%= content_tag(:td, link_to(h(contract.contract_subject), edit_project_contract_path(id: contract.id))) %>
            <%= content_tag(:td, contract.price) %>
            <%= content_tag(:td, contract.executor) %>
            <%= content_tag(:td, link_to(
                op_icon('icon icon-delete'),
                project_contract_path(id: contract.id),
                method: :delete,
                data: {confirm: I18n.t(:text_are_you_sure)},
                title: t(:button_delete))) %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end -%>
