<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2018 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>
<%= error_messages_for 'message' %>
<% replying ||= false %>
<% representer_object = if replying
                          f.object.parent
                        else
                          f.object
                        end %>
<% resource = message_attachment_representer(representer_object) %>

<div class="form--field">
  <%= f.text_field :subject, required: true, container_class: '-wide', autofocus: true %>
</div>

<wp-topics-autocomplete-upgraded wpId='<%= @message.work_package ? @message.work_package.id : '' %>' projectObject='<%= @message.project ? @message.project.id : '' %>'>
</wp-topics-autocomplete-upgraded>

<% unless replying %>
  <div class="form--field">
    <%= f.check_box :sticky, label: t(:label_board_sticky) %>
  </div>
  <div class="form--field">
    <%= f.check_box :locked, label: t(:label_board_locked) %>
  </div>

<!-- iag (-->
  <section>
    <div class="form--field">
      <label class="form--label"><%=Meeting.human_attribute_name(:participants) %> дискуссии:</label>
      <div class="form--field-container">
        <table class="form--matrix">
          <thead>
          <tr class="form--matrix-header-row">
            <th class="form--matrix-header-cell">ФИО</th>
            <th class="form--matrix-header-cell"><%= Meeting.human_attribute_name(:participants_attended) %></th>
          </tr>
          </thead>
          <tbody>
          <% @project.members.sort.each do |member| -%>
            <% user = member.user %>
            <% unless User.current == user -%>
              <%= hidden_field_tag "message[participants_attributes][][user_id]", user.id %>
              <tr class="form--matrix-row">
                <td class="form--matrix-cell"><%=h user %></td>

                <% if @message.participants.present? && participant = @message.participants.detect{|p| p.user_id == user.id} -%>
                  <td class="form--matrix-checkbox-cell">
                    <%= label_tag "checkbox_invited_#{user.id}", user.name + " " + t(:description_invite), :class => "hidden-for-sighted" %>
                    <%= styled_check_box_tag "message[participants_attributes][][invited]", value = "1", checked = true, :id => "checkbox_invited_#{user.id}" %>
                  </td>
                <% else -%>
                  <td class="form--matrix-checkbox-cell">
                    <%= label_tag "checkbox_invited_#{user.id}", user.name + " " + t(:descrription_invite), :class => "hidden-for-sighted" %>
                    <%= styled_check_box_tag "message[participants_attributes][][invited]", value = "1", checked = false, :id => "checkbox_invited_#{user.id}" %>
                  </td>
                <% end -%>
              </tr>
            <% end -%>
          <% end -%>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <!-- iag )-->
<% end %>
<% if !replying && !@message.new_record? && User.current.allowed_to?(:edit_messages, @project) %>
  <div class="form--field">
    <%= f.select :board_id, @project.boards.collect {|b| [b.name, b.id]}, label: Board.name.humanize, container_class: '-wide' %>
  </div>
<% end %>

<div class="form--field -required">
  <%= f.text_area :content,
                  label: t(:description_message_content),
                  class: 'wiki-edit',
                  container_class: '-xxwide',
                  with_text_formatting: true,
                  resource: resource,
                  preview_context: preview_context(representer_object) %>
</div>
