<h3 class="widget-box--header">
  <%= op_icon('icon-context icon-projects') %>
  <span class="widget-box--header-title"><%= l(:label_work_packages_remaining_plural) %></span>
</h3>

<% if @works.empty? %>
  <p class="widget-box--additional-info">
    <%= 'Нет видимых задач' %>
  </p>
<% else  %>
  <p class="widget-box--additional-info"><%= 'Пакеты работ' %></p>
  <ul class="widget-box--arrow-links">
    <% @works.each do |task| %>
    <li>
      <%#= link_to task, work_packages_path(task), title: task.subject %>
      <%= link_to task, work_packages_path(task) %>
      <small>(<%#= format_date(task.created_on) %>)</small>
    </li>
    <% end %>
  </ul>
<% end %>

