<h3 class="widget-box--header">
  <%= op_icon('icon-context icon-projects') %>
  <span class="widget-box--header-title"><%= l(:label_work_packages_remaining_plural) %> <%= @remaining_days %> дней</span>
</h3>

<% if @works.empty? %>
  <p class="widget-box--additional-info">
    <%= 'Нет видимых задач' %>
  </p>
<% else  %>
<!--  <p class="widget-box--additional-info"><%#= 'Пакеты работ' %></p>-->
  <table>
    <thead>
      <tr>
        <th>Проект</th>
        <th>Задача</th>
        <th>Ответственный</th>
        <th>Срок</th>
      </tr>
    </thead>
    <tbody>
    <% @works.each do |task| %>
      <tr>
        <%= content_tag(:td, link_to(task.project.identifier, project_path(task.project.identifier), title: task.project.identifier)) %>
        <%= content_tag(:td, link_to(task.subject, project_work_package_path(task.project.identifier, task.id, 'activity') + '?plan_type=execution', title: task.subject)) %>
        <%= task.assigned_to_id == nil ? content_tag(:td, "-") : content_tag(:td, User.find(task.assigned_to_id).name) %>
        <%= content_tag(:td, format_date(task.due_date)) %>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>

