<%#--
This file written by XCC
06/07/2019
++#%>

<% html_title l(:label_administration), "#{l(:label_edit)} #{Target.model_name.human} #{h @target.name}" %>
<% local_assigns[:additional_breadcrumb] = @target %>
<% breadcrumb_paths(default_breadcrumb, @target) %>
<%# if @target.parent_id != 0 %>
<!--  <div class="breadcrumb" style="font-size: 14px; font-style: italic; margin-bottom: 5px;">-->
    <%#= (l(:label_target_parent ) + ': &nbsp' + link_to(Target.find_by(id: @target.parent_id).name, edit_project_target_path(id: @target.parent_id))).html_safe %>
<!--  </div>-->
<%# end %>
<%= breadcrumb_toolbar @target %>

<%= error_messages_for :target %>
<%= error_messages_for :target_execution_value %>

<div style="position: relative; display: block;">

  <section style="display: block; width: 45%; float: left; margin-right: 30px;">
    <h3>Свойства</h3>
    <%= labelled_tabular_form_for @target, url: project_target_path(project_id: @project) do |f| %>
    <%#= form_with(model: @target, url: project_target_path(project_id: @project)) do |f| %>
      <%= render partial: 'targets/form/form', locals: { f: f, target_id: params[:type_id] } %>
      <% if User.current.allowed_to?(:manage_work_package_target_plan_values, @project) %>
        <%= styled_button_tag l(:button_save),  class: '-highlight -with-icon icon-checkmark' %>
      <% end %>
      <%= link_to 'Закрыть', project_targets_path, class: '-with-icon icon-checkmark button' %>
    <% end %>
  </section>

  <section style="display: block; width: 50%; float: left;">
    <h3><%= l(:label_target_execution_values) %></h3>
    <%= cell ::TargetExecutionValues::TableCell, TargetExecutionValue.where(target_id: @target.id).order('year ASC, quarter ASC'), target_id: @target.id, project_id: @project.id%>

    <div>
      <% if User.current.allowed_to?(:manage_work_package_target_plan_values, @project) %>
        <div id="target-val-add"><span class="icon icon-add" style="cursor: pointer;">Добавить плановые значения</span></div>
      <% end %>
    </div>
    <div id="target-val-form" style="display: none; margin-top: 10px; background: #fafafa; padding: 20px;">
      <section>
        <%= @target_execution_value = TargetExecutionValue.new %>
        <h5>Введите значения (#id=<%= @target_execution_value.target_id = @target.id %>):</h5>

        <%= error_messages_for @target_execution_value %>
        <%= labelled_tabular_form_for @target_execution_value, url: target_execution_values_path(target_id: @target_execution_value.target_id ) do |f| %>
          <section class="form--section">
            <%= hidden_field_tag(:target_id, @target.id) %>
            <table>
              <tr>
                <td>
                  <div class="form--field" style="max-width: 90px;">
                    <%= f.number_field 'year', value: Time.current.year, container_class: '-middle' %>
                  </div>
                </td>
                <td>
                  <div class="form--field">
                    <%= f.select 'quarter',
                                 options_for_select([['1-й квартал', 1], ['2-й квартал', 2], ['3-й квартал', 3], ['4-й квартал', 4]], 0),
                                 include_blank: true,
                                 container_class: '-middle' %>
                  </div>
                </td>
                <td>
                  <div class="form--field">
                    <%= f.text_field(:value, required: true)%></div>
                </td>
              </tr>
            </table>
          </section>
          <%= button_tag 'Добавить', type: 'submit', class: '-highlight -with-icon icon-checkmark button'%>
          <%= button_tag l(:button_cancel), type: 'reset', class: '-with-icon icon-checkmark button', id: 'target-val-cancel' %>
        <% end %>
      </section>
    </div>

  </section>

</div>

