<%#--
This file written by XCC
06/07/2019
++#%>

<% html_title l(:label_administration), "#{l(:label_edit)} #{h @target.name}" %>
<% local_assigns[:additional_breadcrumb] = @target %>
<% breadcrumb_paths(default_breadcrumb, l(:label_edit) + ': ' + @target.name) %>
<%# if @target.parent_id != 0 %>
<!--  <div class="breadcrumb" style="font-size: 14px; font-style: italic; margin-bottom: 5px;">-->
    <%#= (l(:label_target_parent ) + ': &nbsp' + link_to(Target.find_by(id: @target.parent_id).name, edit_project_target_path(id: @target.parent_id))).html_safe %>
<!--  </div>-->
<%# end %>
<%= breadcrumb_toolbar @target %>

<%= error_messages_for :target %>
<%= error_messages_for :target_execution_value %>

<div style="position: relative; display: block;">

  <section style="display: block; width: 45%; float: left; margin-right: 30px;">
    <h3>Свойства</h3>
    <%= labelled_tabular_form_for @target, url: project_target_path(project_id: @project) do |f| %>
    <%#= form_with(model: @target, url: project_target_path(project_id: @project)) do |f| %>
      <%= render partial: 'targets/form/form', locals: { f: f, target_id: params[:type_id] } %>
      <% if User.current.allowed_to?(:manage_work_package_target_plan_values, @project) %>
        <%= styled_button_tag l(:button_save),  class: '-highlight -with-icon icon-checkmark' %>
      <% end %>
      <%= link_to 'Закрыть', project_targets_path, class: '-with-icon icon-cancel button' %>
    <% end %>
  </section>

  <section style="display: block; width: 50%; float: left;">
    <h3><%= l(:label_target_execution_values) %>
      <div class="float-right">
      <% if User.current.allowed_to?(:manage_work_package_target_plan_values, @project) %>
        <!--        <div id="target-val-add"><span class="icon icon-add" style="cursor: pointer;">Добавить плановые значения</span></div>-->
        <div id="target-val-add"><span class="icon icon-add" style="cursor: pointer;"></span></div>
      <% end %>
    </div>
    </h3>
    <%= cell ::TargetExecutionValues::TableCell, TargetExecutionValue.where(target_id: @target.id).order('year ASC, quarter ASC'), target_id: @target.id, project_id: @project.id%>


    <div id="target-val-form" style="display: none; margin-top: 10px;">
      <section>
        <%= @target_execution_value = TargetExecutionValue.new %>
        <h5>Добавление новой записи</h5>
        <%#= error_messages_for @target_execution_value %>
        <%= labelled_tabular_form_for @target_execution_value, url: target_execution_values_path(target_id: @target.id ) do |f| %>
          <section class="form--section">
            <%= f.hidden_field :target_id, value: @target.id %>
            <table>
              <tr>
                <td>
                  <div class="form--field" style="max-width: 90px;">
                    <%= f.number_field 'year', value: Time.current.year, container_class: '-middle' %>
                  </div>
                </td>
                <td>
                  <div class="form--field">
                    <%= f.select 'quarter',
                                 options_for_select([['1-й квартал', 1], ['2-й квартал', 2], ['3-й квартал', 3], ['4-й квартал', 4]], 0),
                                 include_blank: true,
                                 container_class: '-middle' %>
                  </div>
                </td>
                <td>
                  <div class="form--field">
                    <%= f.number_field(:value, step: :any, required: true)%></div>
                </td>
              </tr>
            </table>
          </section>
          <%= button_tag 'Добавить', type: 'submit', class: '-highlight -with-icon icon-checkmark button'%>
          <%= button_tag l(:button_cancel), type: 'reset', class: '-with-icon icon-cancel button', id: 'target-val-cancel' %>
        <% end %>
      </section>
    </div>

    <div id="target-val-edit-block" style="display: none; margin-top: 10px;">
      <h5>Редактирование записи</h5>
          <%= form_with(model: @target_execution_value, url: target_execution_value_path(id: 0, target_id: @target.id, project_id: @project.id), method: :put, id: "target-val-edit-form") do |f| %>
            <%= f.hidden_field :target_id, value: @target.id %>
            <table>
              <tr>
                <td>
                  <div class="form--field" style="max-width: 90px;">
                    <%= f.number_field 'year', value: Time.current.year, container_class: '-middle', id: 'val-year' %>
                  </div>
                </td>
                <td>
                  <div class="form--field">
                    <%= f.select 'quarter',
                                 options_for_select([['1-й квартал', 1], ['2-й квартал', 2], ['3-й квартал', 3], ['4-й квартал', 4]], @target_execution_value.quarter),
                                 include_blank: true,
                                 container_class: '-middle',
                                 id: 'val-quarter'
                    %>
                  </div>
                </td>
                <td>
                  <div class="form--field">
                    <%= f.number_field(:value, step: :any, required: true, id: 'val-value')%></div>
                </td>
              </tr>
            </table>
            <%#= f.submit %>
            <%= button_tag 'Сохранить', type: 'submit', class: '-highlight -with-icon icon-checkmark button'%>
            <%= button_tag l(:button_cancel), type: 'reset', class: '-with-icon icon-cancel button', id: 'target-val-edit-cancel' %>
          <% end %>
    </div>

  </section>

  <section style="display: block; width: 50%; float: left;">
    <h3><%= l(:label_target_work_packages) %></h3>
    <%= cell ::TargetWorkPackages::TableCell, @target.work_packages.order('id ASC'), target_id: @target.id, project_id: @project.id%>

  </section>
</div>

