<%#--
This file written by XCC
06/07/2019
++#%>

<% html_title l(:label_administration), "#{l(:label_edit)} #{Target.model_name.human} #{h @target.name}" %>
<% local_assigns[:additional_breadcrumb] = @target %>
<% breadcrumb_paths(default_breadcrumb, @target) %>
<%# if @target.parent_id != 0 %>
<!--  <div class="breadcrumb" style="font-size: 14px; font-style: italic; margin-bottom: 5px;">-->
    <%#= (l(:label_target_parent ) + ': &nbsp' + link_to(Target.find_by(id: @target.parent_id).name, edit_project_target_path(id: @target.parent_id))).html_safe %>
<!--  </div>-->
<%# end %>
<%= breadcrumb_toolbar @target %>

<%= error_messages_for :target %>
<%= error_messages_for :target_execution_value %>
<% if !@target_execution_value.nil?&&@target_execution_value.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@target_execution_value.errors.count, "error") %> prohibited from being saved:</h2>
    <ul>
      <% @target_execution_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div style="position: relative; display: block;">

  <section style="display: block; width: 45%; float: left; margin-right: 30px;">
    <h3>Свойства</h3>
    <%= labelled_tabular_form_for @target, url: project_target_path(project_id: @project) do |f| %>
    <%#= form_with(model: @target, url: project_target_path(project_id: @project)) do |f| %>
      <%= render partial: 'targets/form/form', locals: { f: f } %>
      <%= styled_button_tag l(:button_save),  class: '-highlight -with-icon icon-checkmark' %>
      <%= link_to 'Закрыть', project_targets_path, class: '-highlight -with-icon icon-checkmark button' %>
    <% end %>
  </section>

  <section style="display: block; width: 50%; float: left;">
    <h3><%= l(:label_target_execution_values) %></h3>
    <%= cell ::TargetExecutionValues::TableCell, TargetExecutionValue.where(target_id: @target.id).order('year ASC, quarter ASC'), target_id: @target.id, project_id: @project.id%>

    <div>
      <div id="target-val-add"><span class="icon icon-add" style="cursor: pointer;">Добавить плановые значения</span></div>
    </div>
    <div id="target-val-form" style="display: none; margin-top: 10px; background: #fafafa; padding: 20px;">
      <section>
        <h5>Введите значения:</h5>
        <%= @target_execution_value = TargetExecutionValue.new %>
        <%= @target_execution_value.target_id = @target.id %>
        <%#= labelled_tabular_form_for @target_execution_value,
                                      url: target_execution_values_path(target_id: @target_execution_value.target_id) do |f| %>
        <%= form_with model: @target_execution_value,
            url: target_execution_values_path(target_id: @target_execution_value.target_id ) do |f| %>

          <%#= render partial: 'target_execution_values/form', locals: { f: f } %>

          <section class="form--section">
            <%= hidden_field_tag(:target_id, @target.id) %>
            <div class="form--field"><label for="year">Год:</label><%= select_year Date.today, start_year: 2010, end_year: 2030, prefix: 'target_execution_value', required: true, container_class: '-middle' %></div>
            <div class="form--field"><label for="quarter">Квартал:</label>
              <%= select_tag('target_execution_value[quarter]', options_for_select([['', nil],['1-й квартал', 1], ['2-й квартал', 2], ['3-й квартал', 3], ['4-й квартал', 4]], 1)) %>
            </div>
            <div class="form--field"><label for="value">Значение:</label><%= f.text_field(:value, required: true)%></div>
          </section>
          <%= button_tag 'Добавить', type: 'submit', class: '-highlight -with-icon icon-checkmark button', remote: true%>
          <%= button_tag l(:button_cancel), type: 'reset', class: '-highlight -with-icon icon-checkmark button', id: 'target-val-cancel' %>
  <!--        <div><span id="target-val-cancel">Отмена</span></div>-->

          <%#= styled_button_tag l(:button_create), class: '-highlight -with-icon icon-checkmark', remote: true %>
        <% end %>
      </section>
    </div>

  </section>

</div>

