<%#--
This file written by XCC
06/07/2019
++#%>
<% if @targets.empty? %>
  <div class="generic-table--container">
    <div class="generic-table--results-container">
      <table class="generic-table" id="target_items">
        <colgroup>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
        </colgroup>
        <thead>
        <tr>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:id) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:name) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:status) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:type) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:unit) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:basic_value) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:plan_value) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:comment) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:project) %>
                </span>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="5"><%= I18n.t :no_results_title_text %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <%= render :partial => 'targets/form/list', :locals => {:targets => @targets} %>
  <%= pagination_links_full @targets %>
<% end %>
<div class="wp-inline-create-button">
  <%= link_to new_project_target_path(),
              aria: {label: t(:label_target_new)},
              class: 'wp-inline-create--add-link',
              title: t(:label_target_new) do
    op_icon('icon icon-add')
  end %>
</div>
