<% html_title l(:label_administration), l(:label_targets) %>
<%= toolbar title: l(:label_targets) do %>
  <li class="toolbar-item">
  </li>
<% end %>



<% if @target_parent != nil %>
  <div class="form--field">
    <%= l(:label_target_parent )  %>
    <%= ':' %>
    <%= @target_parent %>
  </div>
<% end %>

<% if @targets.empty? %>
  <div class="generic-table--container">
    <div class="generic-table--results-container">
      <table class="generic-table" id="target_items">
        <thead>
        <tr>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:id) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:name) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:status) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:type) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:measure_unit_id) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:basic_value) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:plan_value) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:comment) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= Target.human_attribute_name(:project) %>
                </span>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="5"><%= I18n.t :no_results_title_text %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <%= render :partial => 'targets/form/list', :locals => {:targets => @targets} %>
<% end %>

<% if User.current.allowed_to?(:manage_work_package_target_plan_values, @project) %>
  <%= link_to new_project_target_path(:parent_id => params[:parent_id]),
              aria: {label: t(:label_target_new)},
              class: 'wp-inline-create--add-link',
              style: 'margin-top: 5px;',
              title: t(:label_target_new) do %>
    <%= op_icon('button--icon icon-add') %>
  <% end %>

  <%= pagination_links_full @targets %>
<% end %>
