<%#--
This file written by xcc
06/07/2019
++#%>

<% html_title l(:label_target_new) %>
<%= breadcrumb_toolbar l(:label_target_new) %>
<% if @target.parent_id != 0 %>
  <div class="breadcrumb" style="font-size: 14px; font-style: italic;  margin-bottom: 5px;">
    <%= (l(:label_target_parent ) + ': &nbsp' + link_to(Target.find_by(id: @target.parent_id).name, edit_project_target_path(id: @target.parent_id))).html_safe %>
  </div>
<% end %>
<%= labelled_tabular_form_for [@project, @target], html: { id: 'target-form' } do |f| %>
  <%= render partial: 'targets/form/form', locals: { f: f } %>
  <%= styled_button_tag l(:button_create), class: '-highlight -with-icon icon-checkmark' %>
<% end %>





