<%#--
This file written by TAN
25/04/2019
++#%>

<%#
  needs locals:
  f: labelled form builder
%>

<%= error_messages_for :position %>
<section class="form--section">
  <div class="form--field"><%= f.text_field 'name', required: true, container_class: '-middle' %></div>
  <% if User.current.admin?%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle'%>
    </div>
  <% else%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle', readonly: true, disabled: true %>
    </div>
  <% end %>

  <h3 class="form--section-title"><%= t(:label_custom_field_plural) %></h3>
  <%= render partial: 'customizable/form', locals: { form: f,
                                                     all_fields: true,
                                                     only_required: false,
                                                     obj: @position,
                                                     from: 'positions' } %>
</section>
