<p><%= @begin_text %></p>
<p>Ссылка на объект: <%= @url_to_object %></p>
<p>Требуемая дата: <%= @due_date %></p>
<p>Текст запроса: <%= @ut_text %></p>
<p>Дата направления запроса: <%= @timenow %></p>
<p>Автор запроса: <%= @ut_creator %></p>
