<%#--
This file written by XCC
06/07/2019
++#%>

<%#
  needs locals:
  f: labelled form builder
%>

<%= error_messages_for :arbitary_object %>
<section class="form--section">
  <%= f.hidden_field 'project_id' %>
  <div class="form--field"><%= f.text_field 'name', required: true, container_class: '-middle' %></div>
  <% @selected_obj_type = if @arbitary_object.id
                           @arbitary_object.type_id
                         elsif ArbitaryObjectType.default
                           ArbitaryObjectType.default.id
                         end
  %>

  <div class="form--field">  <%= f.select :type_id,
                                          options_for_select(ArbitaryObjectType.where(active: true).map {|u| [u.name, u.id]}, @selected_obj_type),
                                          include_blank: true,
                                          container_class: '-slim' %></div>
  <% if User.current.admin?%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle'%>
    </div>
  <% else%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle', readonly: true, disabled: true %>
    </div>
  <% end %>

  <h3 class="form--section-title"><%= t(:label_custom_field_plural) %></h3>
  <%= render partial: 'customizable/form', locals: { form: f,
                                                     all_fields: true,
                                                     only_required: false,
                                                     obj: @arbitary_object,
                                                     from: 'arbitrary_objects' } %>

</section>
