
<%#--
This file written by BBM
26/04/2019
++#%>

<%= form_tag({}) do -%>


  <div class="generic-table--container">
    <div class="generic-table--results-container">
      <table class="generic-table" id="arbitary_object_items">
        <colgroup>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
        </colgroup>
        <thead>
        <tr>
          <%= sort_header_tag("id", :caption => '#', :default_order => 'desc') %>
          <%= sort_header_tag("name", :caption => ArbitaryObject.human_attribute_name(:name)) %>
          <%= sort_header_tag("type_id", :caption => ArbitaryObject.human_attribute_name(:arbitary_object_type)) %>


          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <% arbitary_objects.each do |arbitary_object| %>
          <tr id="arbitary_object-<%= arbitary_object.id %>">
            <td><%= link_to arbitary_object.id, edit_project_arbitary_object_path(id: arbitary_object.id) %></td>
            <%= content_tag(:td, link_to(h(arbitary_object.name), edit_project_arbitary_object_path(id: arbitary_object.id))) %>
            <%= content_tag(:td, arbitary_object.arbitary_object_type) %>
            <%= content_tag(:td, link_to(
                op_icon('icon icon-delete'),
                project_arbitary_object_path(id: arbitary_object.id),
                method: :delete,
                data: {confirm: I18n.t(:text_are_you_sure)},
                title: t(:button_delete))) %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

<% end -%>
