<%= styled_form_tag(project_statistics_path(project_id: @project.id, tab: :main), { method: :get, id: 'query_form' }) do %>
  <fieldset id="filters" class="simple-filters--container">
    <legend><%= t(:label_filter) %></legend>
    <h2><%= t(:label_filter) %></h2>
    <ul class="simple-filters--filters">
      <li class="simple-filters--filter">
        <%= styled_label_tag :filter_by_date, t(:label_by_date_from), class: 'simple-filters--filter-name' %>
        <div class='simple-filters--filter-value'>
          <%= styled_text_field_tag :filter_start_date, @filter_start_date, class: '-augmented-datepicker' %>
        </div>
      </li>
      <li class="simple-filters--filter">
        <%= styled_label_tag :filter_by_user,  t(:label_by_user), class: 'simple-filters--filter-name' %>
        <div class="simple-filters--filter-value">
          <%= styled_select_tag :filter_user,options_for_select(@existing_users,@filter_user), include_blank: true  %>
        </div>
      </li>
      <li class="simple-filters--filter">
        <%= styled_label_tag :filter_by_action,  t(:label_by_type), class: 'simple-filters--filter-name' %>
        <div class="simple-filters--filter-value">
          <%= styled_select_tag :filter_type,options_for_select(@existing_types, @filter_type), include_blank: true  %>
        </div>
      </li>
      <li class="simple-filters--filter">
        <%= styled_label_tag :filter_by_action, t(:label_by_action),class: 'simple-filters--filter-name' %>
        <div class="simple-filters--filter-value">
          <%= styled_select_tag :filter_action, options_for_select(["Создание", "Обновление", "Удаление"],@filter_action),include_blank: true %>
        </div>
      </li>
      <li class="simple-filters--filter">
        <%= styled_label_tag :filter_by_date, t(:label_by_date_to), class: 'simple-filters--filter-name' %>
        <div class='simple-filters--filter-value'>
          <%= styled_text_field_tag :filter_end_date, @filter_end_date, class: '-augmented-datepicker' %>
        </div>
      </li>
      <li class="simple-filters--controls">
        <%= submit_tag t(:button_apply), class: 'button -highlight -small' %>
        <%= link_to t(:button_clear), project_statistics_path(project_id: @project.id, tab: :main), class: 'button -small -with-icon icon-undo' %>
      </li>
    </ul>
  </fieldset>
<% end %>
<div class="statistics">
  <div class="generic-table--container">
    <div class="generic-table--results-container">
      <table class="generic-table" id="user_statistics">
        <colgroup>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
        </colgroup>
        <thead>
        <tr>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= l('attributes.type') %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= l('attributes.name') %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= l('attributes.date') %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= l('attributes.time') %>
                </span>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <% if @statistics.count == 0 %>
          <tr>
            <td colspan="4"><%= I18n.t :no_results_title_text %></td>
          </tr>
        <% else %>
        <% @statistics.each do |stat| %>
          <tr id="statistics-<%= stat.id %>">
            <td>
              <%= l(:text_project_user,stat.user.fio) %>
              <% if stat.is_deleted && stat.next.nil? && (@filter_action == "Удаление" || @filter_action.nil?)%>
                <%= t("text_project_deleted_"+stat.journable_type.to_s.downcase).downcase %>
              <% elsif stat.version == 1 && (@filter_action == "Создание" || @filter_action.nil?)%>
                <%= t("text_project_created_"+stat.journable_type.to_s.downcase).downcase %>
              <%elsif stat.version > 1 && (@filter_action == "Обновление" || @filter_action.nil?)%>
                <%= t("text_project_updated_"+stat.journable_type.to_s.downcase).downcase %>
              <% else %>
                <%= stat.journable_type %>
              <% end %>
            </td>
            <td>
              <% if stat.journable_type == "WorkPackage"%>
                <%= Journal::WorkPackageJournal.where(journal_id: stat.id).first.subject %>
              <% elsif stat.journable_type == "Project"%>
                <%= Journal::ProjectJournal.where(journal_id: stat.id).first.name %>
              <% elsif stat.journable_type == "Message"%>
                <%= Journal::MessageJournal.where(journal_id: stat.id).first.content%>
              <% elsif stat.journable_type == "Document"%>
                <%= Journal::DocumentJournal.where(journal_id: stat.id).first.title%>
              <% elsif stat.journable_type == "News"%>
                <%= Journal::NewsJournal.where(journal_id: stat.id).first.title%>
              <% elsif stat.journable_type == "Member"%>
                <%= User.find(Journal::MemberJournal.where(journal_id: stat.id).first.user_id).fio%>
              <% elsif stat.journable_type == "Meeting"%>
                <%= Journal::MeetingJournal.where(journal_id: stat.id).first.title%>
              <% elsif stat.journable_type == "MeetingContent"%>
                <%= Journal::MeetingContentJournal.where(journal_id: stat.id).first.text%>
              <% elsif stat.journable_type == "CostObject"%>
                <%= Journal::CostObjectJournal.where(journal_id: stat.id).first.subject%>
              <% elsif stat.journable_type == "Board"%>
                <%= Journal::BoardJournal.where(journal_id: stat.id).first.name%>
              <% else %>
                <%= stat.journable_id %>
              <% end %>
            </td>
            <td>
              <%= format_activity_day(stat.created_at) %>
            </td>
            <td>
              <%= format_time(stat.created_at,false) %>
            </td>
          </tr>
        <% end  %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= pagination_links_full @statistics %>
</div>
