<% html_title l(:label_administration), l(:label_counterparties) %>
<%= toolbar title: l(:label_counterparties)%>
<!--new version of this by knm-->
<%= form_tag({}) do -%>
  <% if @counterparties.empty? %>
    <div class="generic-table--container">
      <div class="generic-table--results-container">
        <table class="generic-table" id="national_project_items">
          <!--        <colgroup>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--        </colgroup>-->
          <thead>
          <tr>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                <span>
                  <%= Organization.human_attribute_name(:id) %>
                </span>
                </div>
              </div>
            </th>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                <span>
                  <%= Organization.human_attribute_name(:name) %>
                </span>
                </div>
              </div>
            </th>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                <span>
                  <%= Organization.human_attribute_name(:is_legal_entity) %>
                </span>
                </div>
              </div>
            </th>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                <span>
                  <%= Organization.human_attribute_name(:inn) %>
                </span>
                </div>
              </div>
            </th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan="5"><%= I18n.t :no_results_title_text %></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="wp-inline-create-button">
        <%= link_to new_organization_path(:org_type => @org_type),
                    aria: { label: t(:button_add) },
                    class: 'wp-inline-create--add-link',
                    title: t(:button_add) do
          op_icon('icon icon-add')
        end %>
      </div>
    </div>
  <% else %>
    <div class="generic-table--container">
      <div class="generic-table--results-container">
        <table class="generic-table" id="national_projects_items">
          <!--        <colgroup>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--          <col highlight-col>-->
          <!--        </colgroup>-->
          <thead>
          <tr>
            <%= sort_header_tag("id", :caption => '#', :default_order => 'desc') %>
            <%= sort_header_tag("name", :caption => Organization.human_attribute_name(:name)) %>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                <span>
                  <%= Organization.human_attribute_name(:is_legal_entity) %>
                </span>
                </div>
              </div>
            </th>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                <span>
                  <%= Organization.human_attribute_name(:inn) %>
                </span>
                </div>
              </div>
            </th>
            <th>
              <div class="generic-table--sort-header-outer">
                <div class="generic-table--sort-header">
                </div>
              </div>
            </th>

          </tr>
          </thead>
          <tbody>

          <%= show_table_org(@counterparties,nil,0) %>

          </tbody>
        </table>
      </div>
      <div class="wp-inline-create-button">
        <%= link_to new_organization_path(:org_type => @org_type),
                    aria: { label: t(:button_add) },
                    class: 'wp-inline-create--add-link',
                    title: t(:button_add) do
          op_icon('icon icon-add')
        end %>
      </div>
    </div>
  <% end %>
<%end %>





<!--old version of this-->
<%# if @organization_parent != nil %>
<!--  <div class="form--field">-->
    <%#= l(:label_organization_parent )  %>
    <%#= ':' %>
    <%#= @organization_parent %>
<!--  </div>-->
<%# end %>
<%#= cell ::Organizations::TableCell, Organization.where(org_type: @counterparties.id)%>
