<!--by zbd-->
<div>
  Контакты
  <%= error_messages_for 'user' %>

  <%= javascript_include_tag 'admin_users' %>

  <%= labelled_tabular_form_for @user,
                                url: { controller: '/users',
                                       action: "update",
                                       tab: nil },
                                html: { method: :put,
                                        autocomplete: 'off' },
                                as: :user do |f| %>
    <%= render partial: 'contactform', locals: { f: f } %>

    <%= styled_button_tag l(:button_save), class: '-highlight -with-icon icon-checkmark' %>
  <% end %>

</div>
