<%#--
by zbd
++#%>

<%= error_messages_for 'user' %>

<%= javascript_include_tag 'admin_users' %>

<!--[form:user]-->
<section class="form--section">
  <div class="form--field"><%= f.text_field :mail, required: true, container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_field :mail_add, required: false, container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_field :cabinet, required: false, container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_field :phone_wrk, required: false, container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_field :phone_wrk_add, required: false, container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_field :phone_mobile, required: false, container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_area :address, required: false, container_class: '-middle' %></div>

</section>
<!--[eoform:user]-->
