<% active_sections = if @user.mail_notification == 'selected'
                       [{key: 'notified_projects'}]
                     else
                       []
                     end %>

<%= initialize_hide_sections_with [{key: 'notified_projects'}],  active_sections %>


<%= activate_angular_js do %>
  <div class="form--field">
    <%= styled_label_tag "user_pop_up_notification", t(:'user.settings.pop_up_notifications') %>
    <div class="form--field-container">
      <div class="form--select-container" style="display: none">
        <show-section-dropdown opt-value="selected" hide-sec-with-name="notified_projects">
          <%= styled_select_tag 'user[pop_up_notification]',
                                options_for_select(user_mail_notification_options(@user),
                                                   @user.mail_notification),
                                container_class: '-wide' %>
        </show-section-dropdown>
      </div>
    </div>
  </div>

  <hide-section section-name="notified_projects">
    <div id="notified-projects" class="form--field -no-label">
      <div class="form--field-container -vertical">
        <% @user.projects.each do |project| %>
          <label class="form--label-with-check-box">
            <%= styled_check_box_tag 'notified_project_ids[]',
                                     project.id,
                                     @user.notified_projects_ids.include?(project.id),
                                     id: "notified_project_ids_#{project.id}" %>
            <%= project.name %>
          </label>
        <% end %>
      </div>
      <div class="form--field-instructions">
        <%= t(:'user.settings.mail_project_explanaition') %>
      </div>
    </div>
  </hide-section>

  <div class="form--field" style="display:none;">
    <%= styled_label_tag 'self_notified', t(:'user.settings.mail_self_notified') %>
    <div class="form--field-container">
      <div class="form--check-box-container">
        <%= styled_check_box_tag 'self_notified', 1, @user.pref.self_notified? %>
      </div>
    </div>
  </div>
<% end %>
