<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2018 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2017 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See docs/COPYRIGHT.rdoc for more details.

++#%>

<% content_for :header_tags do %>
  <%= call_hook :users_show_head %>
<% end %>
<% html_title l(:label_administration), l(:label_user_plural) -%>
<%= toolbar title: "#{avatar @user} #{h(@user.name)}".html_safe do %>
  <% if User.current.admin? %>
    <li class="toolbar-item">
      <%= link_to edit_user_path(@user), class: 'button', accesskey: accesskey(:edit) do %>
        <%= op_icon('button--icon icon-edit') %>
        <span class="button--text"><%= l(:button_edit) %></span>
      <% end %>
    </li>
  <% end %>
<% end %>

<div class="tabs">
  <ul>
    <li>
      <%= link_to t("users.main"),
                  user_path(id: @user.id, tab: :main),
                  class: "#{'selected' if @tab == "main" }"  %>
    </li>
    <li>
      <%= link_to t("users.monitoring"),
                  user_path(id: @user.id, tab: :monitoring),
                  class: "#{'selected' if @tab == 'monitoring' }"  %>
    </li>
    <li>
      <%= link_to t("users.statistic"),
                  user_path(id: @user.id, tab: :statistic),
                  class: "#{'selected' if @tab == 'statistic' }"  %>
    </li>
    <li>
    <%= link_to t("label_statistics_additional"),
                  user_path(id: @user.id, tab: :additional),
                  class: "#{'selected' if @tab == 'additional'}"%>
    </li>
  </ul>
</div>

<%= render partial: "#{@tab}", locals: {tab: @tab}%>

<% html_title h(@user.name) %>
