<h2>Перечень мероприятий по проекту</h2>
<table class="whiteTable">
  <% white_table = kontrolnie_tochki_white_table_data%>
  <tr>
    <td>Проект</td>
    <td><b><%= white_table['project'].name %></b></td>
  </tr>

  <tr>
    <td>Куратор</td>
    <td><% white_table['kurator'].each do |user| %>
        <b><%= user.firstname %> <%= user.lastname %></b>,&nbsp
      <% end %>
    </td>
  </tr>

  <tr>
    <td>Руководитель</td>
    <td><b>Самбуев Д.Ц.</b></td>
  </tr>

  <tr>
    <td>Фильтр</td>
    <td>
      <a href="">Все</a> /
      <a href="">Исполнено в срок</a> /
      <a href="">Исполнено с опозданием</a> /
      <a href="">В работе</a> /
      <a href="">Предстоящие</a>
    </td>
  </tr>

  <tr>
    <td>Предстоящие</td>
    <td>
      <u>3 дня</u>
      <u class="underline-offset">2 недели</u>
      <u class="underline-offset">1 месяц</u>
      <u class="underline-offset">3 месяца</u>
    </td>
  </tr>
</table>

<table border="1" width="100%" cellpadding="5" class="blueTable">
  <thead>
  <tr >
    <th>№ п/п</th>
    <th>Мероприятие</th>
    <th>Отв. Исполнитель</th>
    <th>Срок выполнения</th>
    <th>Статус</th>
    <th>Факт. выполнение</th>
    <th>Проблемы</th>
  </tr>
  </thead>
  <tbody>
  <% kontrolnie_tochki_blue_table_data(white_table['project']).each do |wp| %>
    <tr>
      <td align="center"><%= wp.id %></td>
      <td align="center"><%= wp.subject %></td>
      <td align="center"><%= wp.assigned_to.firstname %> <%= wp.assigned_to.lastname %></td>
      <td align="center"><%= wp.due_date %></td>
      <td align="center">Check if wp.due_date < wp.due_date</td>
      <td align="center"><%= wp.due_date %></td>
      <td align="center">Risks</td>
    </tr>
  <% end %>
  </tbody>
</table>
