<div class="generic-table--container">
  <div class="generic-table--results-container">
    <table class="generic-table" id="national_projects_items">
      <thead>
      <tr>
        <%#= sort_header_tag("id", :caption => '#', :default_order => 'asc') %>
        <%#= sort_header_tag("name", :caption => Stakeholder.human_attribute_name(:name)) %>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Stakeholder.human_attribute_name(:id) %>
                </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span style="width: 200px;">
                  <%= Stakeholder.human_attribute_name(:name) %>
                </span>
            </div>
          </div>
        </th>
<!--        <th>-->
<!--          <div class="generic-table--sort-header-outer">-->
<!--            <div class="generic-table--sort-header">-->
<!--                <span style="width: 200px;">-->
                  <%#= Stakeholder.human_attribute_name(:description) %>
<!--                </span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </th>-->
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Stakeholder.human_attribute_name(:phone_wrk) %>
                </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Stakeholder.human_attribute_name(:phone_wrk_add) %>
                </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Stakeholder.human_attribute_name(:phone_mobile) %>
                </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Stakeholder.human_attribute_name(:mail_add) %>
                </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Stakeholder.human_attribute_name(:address) %>
                </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Stakeholder.human_attribute_name(:cabinet) %>
                </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
            </div>
          </div>
        </th>

      </tr>
      </thead>
      <tbody>

      <%#= sort_table(data) %>
      <% data.each do |row| %>
        <tr>
          <% if type == 'users' %>
            <%#= content_tag(:td, link_to(row.id, user_path(id: row.user_id))) %>
            <%#= content_tag(:td, row.id) %>
            <%= content_tag(:td, row['user_id']) %>
            <%= content_tag(:td, link_to(h(row['name']), user_path(id: row['user_id'])) + " (" + (row['organization_id'].present? ? Organization.find(row['organization_id']).name : "") + ")") %>
          <% else %>
            <%#= content_tag(:td, link_to(row.id, organization_path(id: row.organization_id))) %>
            <%#= content_tag(:td, link_to(h(row.name), organization_path(id: row.organization_id))) %>
            <%= content_tag(:td, row['user_id']) %>
            <%= content_tag(:td, row['name']) %>
          <% end %>
          <%#= content_tag(:td, row.description) %>
          <%= content_tag(:td, row['phone_wrk']) %>
          <%= content_tag(:td, row['phone_wrk_add']) %>
          <%= content_tag(:td, row['phone_mobile']) %>
          <%= content_tag(:td, row['mail_add']) %>
          <%= content_tag(:td, row['address']) %>
          <%= content_tag(:td, row['cabinet']) %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
