
<%= error_messages_for :head_performance_indicator_values %>
<section class="form--section">
    <div class="form--field">  <%= f.select :head_performance_indicator_id,
        options_for_select(HeadPerformanceIndicator.where(active: true).map{|s| [s.name, s.id]}),
        include_blank: false,
        container_class: '-wide' %></div>
    <%= f.hidden_field 'type' %>
    <table>
        <tr>
            <td>
                <div class="form--field">
                    <%= f.text_field 'value',label: :value_for_hpi, container_class: '-middle' %>
                </div>
            </td>
            <td>
                <div class="form--field">
                    <%= f.date_field 'year', required: true, label: :year_for_hpi, container_class: '-middle' %>
                </div>
            </td>
        </tr>
    </table>


    <!--    <div class="form--field"><%#= f.text_field 'quarter', container_class: '-middle' %></div>-->
    <!--    <div class="form--field"><%#= f.text_field 'month', container_class: '-middle' %></div>-->
    <%= f.hidden_field 'quarter'  %>
    <%= f.hidden_field 'month'  %>
    <%= f.hidden_field 'sort_code'  %>
</section>
