<% html_title l(:label_administration), l(:label_typed_targets) %>

<%= toolbar title: l(:label_typed_targets) do %>
  <li class="toolbar-item">
    <%= link_to new_typed_target_path,
                { class: 'button -alt-highlight',
                  aria: {label: t(:label_typed_target_new)},
                  title: t(:label_typed_target_new)} do %>
      <%= op_icon('button--icon icon-add') %>
      <span class="button--text"><%= t(:label_typed_target) %></span>
    <% end %>
  </li>
<% end %>

<div class="generic-table--container">
  <div class="generic-table--results-container">
    <table class="generic-table" id="typed_target_items">
      <thead>
      <tr>
        <%#= sort_header_tag("id", :caption => '#', :default_order => 'desc') %>
        <%#= sort_header_tag("name", :caption => TypedTarget.human_attribute_name(:name)) %>
        <%#= sort_header_tag("status", :caption => TypedTarget.human_attribute_name(:target_status)) %>
        <%#= sort_header_tag("type", :caption => TypedTarget.human_attribute_name(:target_type)) %>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
              <span>
                #
              </span>
            </div>
          </div>
        </th>
        <th style="width: 45%;">
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
              <span>
                <%= TypedTarget.human_attribute_name(:name) %>
              </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
              <span>
                <%= TypedTarget.human_attribute_name(:target_status) %>
              </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
              <span>
                <%= TypedTarget.human_attribute_name(:target_type) %>
              </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
              <span>
                <%= TypedTarget.human_attribute_name(:unit) %>
              </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
              <span>
                <%= TypedTarget.human_attribute_name(:basic_value) %>
              </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
              <span>
                <%= TypedTarget.human_attribute_name(:plan_value) %>
              </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
              <span>
                <%= TypedTarget.human_attribute_name(:is_approve) %>
              </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
        <% if @typed_targets.empty? %>
          <tr>
            <td colspan="5"><%= I18n.t :no_results_title_text %></td>
          </tr>
        <% else %>
          <%#= render :partial => 'typed_targets/list', :locals => {:typed_targets => @typed_targets} %>
          <%= render_tree_typed_targets(@typed_targets, 0, 0) %>
        <% end %>
      </tbody>
    </table>
    <%#= pagination_links_full @typed_targets %>
  </div>
</div>
<div class="wp-inline-create-button">
  <%= link_to t(:label_typed_target_new), new_typed_target_path(),class: 'wp-inline-create--split-link' %>
</div>
