<%#--
This file written by XCC
06/07/2019
++#%>

<%#
  needs locals:
  f: labelled form builder
%>

<%= error_messages_for :target %>
<section class="form--section">
  <%= f.hidden_field 'project_id' %>
  <%= f.hidden_field 'parent_id' %>
  <% @selected_status_id = if @target.id
                             @target.status_id
                           elsif TargetStatus.default
                             TargetStatus.default.id
                           end
     @selected_type_id = if @target.id
                           @target.type_id
                         elsif TargetType.default
                           TargetType.default.id
                         end
  %>

  <div class="form--field">
    <%= f.select :parent_id,
                 options_for_select(@targets_arr, @target.parent_id),
                 container_class: '-middle'
    %>
  </div>
<!--  <div class="form--field"><%#= f.select :type_id,-->
                                          options_for_select(TargetType.where(active: true).map {|u| [u.name, u.id]}, @selected_type_id),
                                          include_blank: true,
                                          container_class: '-middle' %></div>
-->
  <div class="form--field"><label class="form--label -required">Тип<span class="form--label-required" aria-hidden="true">*</span></label>
    <span class="form--field-container"><%= f.collection_radio_buttons(:type_id,
                                        TargetType.where(active: true),
                                        :id,
                                        :type_name, { checked: target_id },
                                        { required: true})%></span></div>

  <div class="form--field"><%= f.text_field 'name', required: true, container_class: '-middle' %></div>

  <div class="form--field"><%= f.select :measure_unit_id,
                                          options_for_select(MeasureUnit.all.map {|u| [u.short_name, u.id]}, @target.measure_unit_id),
                                          include_blank: true,
                                          required: false,
                                          container_class: '-middle' %></div>

  <div class="form--field"><%= f.number_field 'basic_value', step: :any, container_class: '-middle' %></div>
  <div class="form--field"><%= f.number_field 'plan_value', step: :any, container_class: '-middle' %></div>
  <div class="form--field"><%= f.select :result_assigned,
                                        options_for_select(@project.members.map {|u| [u.name, u.id]}, @target.result_assigned),
                                        include_blank: true,
                                        container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_field 'comment', container_class: '-middle' %></div>
  <div class="form--field"><%= f.select :status_id,
                                        options_for_select(TargetStatus.where(active: true).map {|u| [u.name, u.id]}, @selected_status_id),
                                        include_blank: true,
                                        container_class: '-middle' %></div>

  <div class="form--field"><%= f.check_box 'is_additional', container_class: '-middle' %></div>


  <% unless @project.national_project.nil? || @project.federal_project.nil? %>
    <fieldset class="form--fieldset -collapsible collapsed">
      <legend class="form--fieldset-legend"><%= l(:label_additional_settings) %></legend>
      <div class="-columns-2">
        <div class="form--field"><%= f.text_area 'national_project_goal', container_class: '-middle' %></div>
        <div class="form--field"><%= f.text_area 'national_project_result', container_class: '-middle' %></div>
        <div class="form--field"><%= f.text_area 'national_project_charact', container_class: '-middle' %></div>
        <div class="form--field"><%= f.date_field 'result_due_date', container_class: '-middle' %></div>
      </div>
    </fieldset>
  <% end %>
  <% if User.current.admin?%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle'%>
    </div>
  <% else%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle', readonly: true, disabled: true %>
    </div>
  <% end %>
</section>
