<%= javascript_include_tag 'desktops.js' %>

<div class="background">
  <div class="icon-menu-span">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
  </div>

  <div class="span-content">
    <div id="rabocii-stol" class="homescreen-page--invisible">
      <%= render :partial => 'homescreen/pages/rabocii_stol' %>
    </div>
    <div id="kontrolnie-tochki" class="homescreen-page--invisible">
      <%= render :partial => 'homescreen/pages/kontrolnie_tochki' %>
    </div>
    <div id="riski-i-problemy" class="homescreen-page--invisible">
      <%= render :partial => 'homescreen/pages/riski_i_problemy' %>
    </div>
    <div id="ispolnenie-pokazatelei" class="homescreen-page--invisible">
      <%= render :partial => 'homescreen/pages/ispolnenie_pokazatelei' %>
    </div>
    <div id="ispolnenie-budzheta" class="homescreen-page--invisible">
      <%= render :partial => 'homescreen/pages/ispolnenie_budzheta' %>
    </div>
    <div id="kpi" class="homescreen-page--invisible">
      <%= render :partial => 'homescreen/pages/kpi' %>
    </div>
    <div id="elektronnyi-protokol" class="homescreen-page--invisible">
      <%= render :partial => 'homescreen/pages/elektronnyi_protokol' %>
    </div>
    <div id="obsuzhdeniya" class="homescreen-page--invisible">
      <%= render :partial => 'homescreen/pages/obsuzhdeniya' %>
    </div>
    <div id="ocenka-deyatelnosti" class="homescreen-page--invisible">
      <%= render :partial => 'homescreen/pages/ocenka_deyatelnosti' %>
    </div>
  </div>
</div>
