<%#--
This file written by BBM
23/04/2019
++#%>

<%#
  needs locals:
  f: labelled form builder
%>

<%= error_messages_for :risk %>
<section class="form--section">
  <%= f.hidden_field 'type' %>
  <div class="form--field"><%= f.text_field 'name', required: true, container_class: '-middle' %></div>
  <div class="form--field"><%= f.text_field 'description', container_class: '-middle' %></div>
  <div class="form--field"><%= f.number_field 'possibility', container_class: '-xslim' %></div>
  <div class="form--field"><%= f.number_field 'importance', container_class: '-xslim' %></div>

  <% if @risk.class.colored? %>
    <%= render partial: '/colors/color_autocomplete_field',
               locals: {
                   form: f,
                   object: @risk,
                   label: @risk.color_label
               }  %>
  <% end %>
</section>
