<% html_title(l(:label_stages)) -%>
<div style="display: flex; width: 100%;">
  <% if @project.copy_allowed? %>
    <div class="toolbar-item">
      <%= link_to copy_from_project_path(@project, coming_from: :settings), class: 'button copy', accesskey: accesskey(:copy) do %>
        <%= op_icon('button--icon icon-copy') %>
        <span class="button--text"><%= t(:label_copy_project) %></span>
      <% end %>
    </div>
  <% end %>
  <% if User.current.admin? %>
    <div class="toolbar-item">
      <%= link_to(archive_project_path(@project, status: '', name: @project.name),
                  data: { confirm: t('project.archive.are_you_sure', name: @project.name) },
                  method: :put,
                  title: t(:label_archive_project),
                  class: 'button') do %>
        <%= op_icon('button--icon icon-locked') %>
        <span class="button--text"><%= t(:label_archive_project) %></span>
      <% end %>
    </div>
    <div class="toolbar-item">
      <%= link_to confirm_destroy_project_path(@project),
                  class: 'button delete',
                  title: t(:label_delete_project) do %>
        <%= op_icon('button--icon icon-delete') %>
        <span class="button--text"><%= t(:label_delete_project) %></span>
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to 'Извлечение уроков', index_project_wiki_index_path(@project)  %>
</div>
