<%#--
This file written by TAN
25/04/2019
++#%>

<%#
  needs locals:
  f: labelled form builder
%>

<%= error_messages_for :organization %>
<% if @organization_parent != nil %>
<div class="form--field">
  <%= l(:label_organization_parent )  %>
  <%= ':' %>
  <%= @organization_parent %>
</div>
<% end %>
<section class="form--section">
  <%= f.hidden_field 'org_type' %>

  <div class="form--field content--split"><%= f.text_field 'name', required: true, container_class: '-middle' %></div>
  <% if @organization.id == nil %>
    <div class="form--field content--split"><%= f.select 'parent_id', options_for_select(Organization.where(org_type: @organization.org_type).map { |u| [u.name, u.id] }), include_blank: true, container_class: '-middle' %></div>
    <% else %>
    <div class="form--field content--split"><%= f.select 'parent_id', options_for_select(Organization.where(org_type: @organization.org_type).where("id != ?", @organization.id).map { |u| [u.name, u.id] }), include_blank: true, container_class: '-middle' %></div>
<% end %>
  <div class="form--field content--split"><%= f.text_field 'inn', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.check_box 'is_legal_entity', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'org_prav_forma', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'ur_addr', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'post_addr', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'otrasl', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'gorod', container_class: '-middle' %></div>
  <div class="form--field content--split"><%= f.text_field 'capital', container_class: '-middle' %></div>
  <% if User.current.allowed_to?(:approve_instance, nil, global: true)%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle'%>
    </div>
  <% else%>
    <div class="form--field">
      <%= f.check_box 'is_approve', container_class: '-middle', readonly: true, disabled: true %>
    </div>
  <% end %>

  <% unless f.object.custom_field_values.empty? %>
    <h3 class="form--section-title"><%= t(:label_custom_field_plural) %></h3>
    <%= render partial: 'customizable/form', locals: { form: f,
                                                       all_fields: true,
                                                       only_required: false,
                                                       class_name: @organization.class.name,
                                                       obj_id: @organization.id,
                                                       from: 'organizations',
                                                       is_approve: @organization.is_approve } %>

  <% end %>
</section>

