<% html_title l(:label_administration), l(@org_label) %>
<%= toolbar title: l(@org_label) do %>
  <li class="toolbar-item">
     <% if @org_type.present? %>
      <%= link_to(catalog_loaders_path(catalog_type: "organizations", org_type: @org_type.id ),
                  aria: { label: t(:button_add) },
                  class: 'button -alt-highlight',
                  title: t(:button_add)) do %>
        <%= op_icon('button--icon icon-export-xls-descr') %>
        <span class="button--text">Загрузка через Excel</span>
      <% end %>
    <% else %>
      <%= link_to(catalog_loaders_path(catalog_type: "positions" ),
                  aria: { label: t(:button_add) },
                  class: 'button -alt-highlight',
                  title: t(:button_add)) do %>
        <%= op_icon('button--icon icon-export-xls-descr') %>
        <span class="button--text">Загрузка через Excel</span>
      <% end %>
    <% end %>
  </li>
<% end %>


<% if @org_type.present? %>
  <%= render :partial => 'organizations/list', :locals => {:org_type => @org_type.id, :organizations => @organizations} %>
<% else %>
  <%= cell ::Positions::TableCell, Position.all%>
<% end %>
