<%= render :partial => 'reporting_header' %>

<% if @custom_errors.present? %>
  <% @custom_errors.each do |err| %>
    <div class="flash error"><%= err %></div>
  <% end %>
<% end %>

<% html_title (@query.persisted? ? "#{l(:label_target_report)}: #{@query.name}" : l(:label_new_report_target)) %>

<h2 id="ur_caption">
  <%= render_widget Widget2::Controls::QueryName, @query, :can_rename => allowed_to?(:rename, @query, current_user) %>
</h2>
<%#= render_widget Widget::Settings, @query, :cost_types => nil, :selected_type_id => nil %>
<%= render_widget Widget2::Settings, @query %>

<div id="result-table">
  <%= render_widget Widget2::Table, @query %>
</div>
<p class="footnote">
  <%= l(:text_costs_are_rounded_note) %>
  <%= "<br />#{l(:information_restricted_depending_on_permission)}".html_safe if !User.current.admin?%>
</p>
<%= call_hook(:view_cost_report_table_bottom) %>

<% content_for :sidebar do %>
  <% [:private, :public].each do |type| %>
    <%= render :partial => "report_category", :locals => { :report_type => type } %>
  <% end %>
<% end -%>
