<%#--
This file written by XCC
06/07/2019
++#%>
<% if @arbitary_objects.empty? %>
  <div class="generic-table--container">
    <div class="generic-table--results-container">
      <table class="generic-table" id="arbitary_object_items">
        <colgroup>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
        </colgroup>
        <thead>
        <tr>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= ArbitaryObject.human_attribute_name(:id) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= ArbitaryObject.human_attribute_name(:name) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= ArbitaryObject.human_attribute_name(:type) %>
                </span>
              </div>
            </div>
          </th>

          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%= ArbitaryObject.human_attribute_name(:project) %>
                </span>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="5"><%= I18n.t :no_results_title_text %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <%= render :partial => 'arbitary_objects/form/list', :locals => {:arbitary_objects => @arbitary_objects} %>
  <%= pagination_links_full @arbitary_objects %>
<% end %>
<div class="wp-inline-create-button">
  <%= link_to new_project_arbitary_object_path(),
              aria: {label: t(:label_arbitary_object_new)},
              class: 'wp-inline-create--add-link',
              title: t(:label_arbitary_object_new) do
    op_icon('icon icon-add')
  end %>
</div>
