<%#-- copyright
OpenProject My Project Page Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% if defined? block_name_id %>
  <%= content_for block_name_id %>
<% end %>

<h3 class="widget-box--header">
  <span class="widget-box--header-title"><%=l(:label_project_description)%></span>
</h3>

<div class="overview">
  <%= format_text @project.description %>
  <%= 'Дата начала: ' + @project.start_date.strftime("%d/%m/%Y") + ' Дата окончания: ' + @project.due_date.strftime("%d/%m/%Y") %>

  <% sql = "SELECT m.user_id FROM members m
    JOIN member_roles mr ON m.id = mr.member_id
    JOIN roles r ON mr.role_id = r.id
    WHERE m.project_id = '" + @project.id.to_s + "' AND r.name = '" + I18n.t(:default_role_project_head) + "'" %>
  <% project_head_id = ActiveRecord::Base.connection.execute(sql).values.first %>
  <% if project_head_id.present? %>
    <% if @project.project_approve_status_id == Enumeration.where(:name => I18n.t(:default_project_approve_status_approve_project_head)).first.id && @project.journals.first.user_id == project_head_id[0] %>
      <p><%= 'Дата утверждения: ' + @project.updated_on.strftime("%d/%m/%Y") %>
    <% end %>
  <% end %>
  <%= 'Дата начала: '%>
  <%= @project.start_date ? @project.start_date.strftime("%d/%m/%Y") : '-'%>
  <%= ' Дата окончания: ' %>
  <%= @project.due_date ? @project.due_date.strftime("%d/%m/%Y") : '-'%>
</div>

<% if current_user.allowed_to?(:edit_project, project) %>
  <%= link_to settings_project_path(project), class: 'button -highlight' do %>
    <%= op_icon('button--icon icon-edit') %>
    <span class="button--text"><%= l(:button_edit) %></span>
  <% end %>
<% end %>
