<%#-- copyright
OpenProject My Project Page Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% if defined? block_name_id %>
  <%= content_for block_name_id %>
<% end %>

<h3 class="widget-box--header">
  <span class="widget-box--header-title"><%= l(:label_table_dostizheniy) %></span>
</h3>

<div class="overview">
  <table class="generic-table target-dostizheniy">
    <colgroup>
      <col highlight-col>
      <col highlight-col>
      <col highlight-col>
    </colgroup>
    <thead>
    <tr>
      <th>
        <div class="generic-table--header-outer">
          <div class="generic-table--header">
                  <span>
                    <%= l(:label_target_result) %>
                  </span>
          </div>
        </div>
      </th>
      <th>
        <div class="generic-table--header-outer">
          <div class="generic-table--header">
                  <span>
                    <%= l(:label_target_plan) %>
                  </span>
          </div>
        </div>
      </th>
      <th>
        <div class="generic-table--header-outer">
          <div class="generic-table--header">
                  <span>
                    <%= l(:label_target_fact) %>
                  </span>
          </div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <% pfqtv = PlanFactQuarterlyTargetValue.where("project_id = ?", @project.id) %>
    <% targets = @project.targets.where("type_id != ?",TargetType.where(name: I18n.t('targets.target')).first.id) %>
    <% targets.map do |t| %>
    <% pfqtv_prev = pfqtv.where("target_id = ? and year <= date_part('year', CURRENT_DATE)", t.id)%>
    <% pfqtv_next = pfqtv.where("target_id = ? and year >= date_part('year', CURRENT_DATE)", t.id)%>
      <tr>
        <td><strong><%= link_to t.name, edit_project_target_path(t.project_id, t.id) %></strong></td>
        <td>
          <%= case DateTime.now.month
              when 1, 2, 3
                if pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year = date_part('year', CURRENT_DATE)").present?
                  pfqtv_next = pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year = date_part('year', CURRENT_DATE)").first
                  if pfqtv_next.target_quarter1_value.present?
                    pfqtv_next.target_quarter1_value
                  elsif pfqtv_next.target_quarter2_value.present?
                    pfqtv_next.target_quarter2_value
                  elsif pfqtv_next.target_quarter3_value.present?
                    pfqtv_next.target_quarter3_value
                  elsif pfqtv_next.target_quarter4_value.present?
                    pfqtv_next.target_quarter4_value
                  end
                else
                  if pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year > date_part('year', CURRENT_DATE)").present?
                    pfqtv_next = pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year > date_part('year', CURRENT_DATE)").order(year: :desc).first
                    if pfqtv_next.target_quarter4_value.present?
                      pfqtv_next.target_quarter4_value
                    elsif pfqtv_next.target_quarter3_value.present?
                      pfqtv_next.target_quarter3_value
                    elsif pfqtv_next.target_quarter2_value.present?
                      pfqtv_next.target_quarter2_value
                    elsif pfqtv_next.target_quarter1_value.present?
                      pfqtv_next.target_quarter1_value
                    end
                  end
                end
              when 4, 5, 6
                if pfqtv_next.where("(target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year = date_part('year', CURRENT_DATE)").present?
                  pfqtv_next = pfqtv_next.where("(target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year = date_part('year', CURRENT_DATE)").first
                  if pfqtv_next.target_quarter2_value.present?
                    pfqtv_next.target_quarter2_value
                  elsif pfqtv_next.target_quarter3_value.present?
                    pfqtv_next.target_quarter3_value
                  elsif pfqtv_next.target_quarter4_value.present?
                    pfqtv_next.target_quarter4_value
                  end
                else
                  if pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year > date_part('year', CURRENT_DATE)").present?
                    pfqtv_next = pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year > date_part('year', CURRENT_DATE)").order(year: :desc).first
                    if pfqtv_next.target_quarter4_value.present?
                      pfqtv_next.target_quarter4_value
                    elsif pfqtv_next.target_quarter3_value.present?
                      pfqtv_next.target_quarter3_value
                    elsif pfqtv_next.target_quarter2_value.present?
                      pfqtv_next.target_quarter2_value
                    elsif pfqtv_next.target_quarter1_value.present?
                      pfqtv_next.target_quarter1_value
                    end
                  end
                end
              when 7, 8, 9
                if pfqtv_next.where("(target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year = date_part('year', CURRENT_DATE)").present?
                  pfqtv_next = pfqtv_next.where("(target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year = date_part('year', CURRENT_DATE)").first
                  if pfqtv_next.target_quarter3_value.present?
                    pfqtv_next.target_quarter3_value
                  elsif pfqtv_next.target_quarter4_value.present?
                    pfqtv_next.target_quarter4_value
                  end
                else
                  if pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year > date_part('year', CURRENT_DATE)").present?
                    pfqtv_next = pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year > date_part('year', CURRENT_DATE)").order(year: :desc).first
                    if pfqtv_next.target_quarter4_value.present?
                      pfqtv_next.target_quarter4_value
                    elsif pfqtv_next.target_quarter3_value.present?
                      pfqtv_next.target_quarter3_value
                    elsif pfqtv_next.target_quarter2_value.present?
                      pfqtv_next.target_quarter2_value
                    elsif pfqtv_next.target_quarter1_value.present?
                      pfqtv_next.target_quarter1_value
                    end
                  end
                end
              when 10, 11, 12
                if pfqtv_next.where("target_quarter4_value NOTNULL and year = date_part('year', CURRENT_DATE)").present?
                  pfqtv_next = pfqtv_next.where("target_quarter4_value NOTNULL and year = date_part('year', CURRENT_DATE)").first
                  if pfqtv_next.target_quarter4_value.present?
                    pfqtv_next.target_quarter4_value
                  end
                else
                  if pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year > date_part('year', CURRENT_DATE)").present?
                    pfqtv_next = pfqtv_next.where("(target_quarter1_value NOTNULL or target_quarter2_value NOTNULL or target_quarter3_value NOTNULL or target_quarter4_value NOTNULL) and year > date_part('year', CURRENT_DATE)").order(year: :desc).first
                    if pfqtv_next.target_quarter4_value.present?
                      pfqtv_next.target_quarter4_value
                    elsif pfqtv_next.target_quarter3_value.present?
                      pfqtv_next.target_quarter3_value
                    elsif pfqtv_next.target_quarter2_value.present?
                      pfqtv_next.target_quarter2_value
                    elsif pfqtv_next.target_quarter1_value.present?
                      pfqtv_next.target_quarter1_value
                    end
                  end
                end
              end %>
          </td>
        <td>
          <%= case DateTime.now.month
              when 1, 2, 3
                if pfqtv_prev.where("fact_quarter1_value NOTNULL and year = date_part('year', CURRENT_DATE)").present?
                  pfqtv_prev = pfqtv_prev.where("fact_quarter1_value NOTNULL and year = date_part('year', CURRENT_DATE)")
                  pfqtv_prev.first.fact_quarter1_value
                else
                  if pfqtv_prev.where("(fact_quarter1_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter4_value NOTNULL) and year < date_part('year', CURRENT_DATE)").present?
                    pfqtv_prev = pfqtv_prev.where("(fact_quarter1_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter4_value NOTNULL) and year < date_part('year', CURRENT_DATE)").order(year: :desc).first
                    if pfqtv_prev.fact_quarter4_value.present?
                      pfqtv_prev.fact_quarter4_value
                    elsif pfqtv_prev.fact_quarter3_value.present?
                      pfqtv_prev.fact_quarter3_value
                    elsif pfqtv_prev.fact_quarter2_value.present?
                      pfqtv_prev.fact_quarter2_value
                    elsif pfqtv_prev.fact_quarter1_value.present?
                      pfqtv_prev.fact_quarter1_value
                    end
                  end
                end
              when 4, 5, 6
                if pfqtv_prev.where("(fact_quarter2_value NOTNULL or fact_quarter1_value NOTNULL) and year = date_part('year', CURRENT_DATE)").present?
                  pfqtv_prev = pfqtv_prev.where("(fact_quarter2_value NOTNULL or fact_quarter1_value NOTNULL) and year = date_part('year', CURRENT_DATE)").first
                  if pfqtv_prev.fact_quarter2_value.present?
                    pfqtv_prev.fact_quarter2_value
                  elsif pfqtv_prev.fact_quarter1_value.present?
                    pfqtv_prev.fact_quarter1_value
                  end
                else
                  if pfqtv_prev.where("(fact_quarter1_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter4_value NOTNULL) and year < date_part('year', CURRENT_DATE)").present?
                    pfqtv_prev = pfqtv_prev.where("(fact_quarter1_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter4_value NOTNULL) and year < date_part('year', CURRENT_DATE)").order(year: :desc).first
                    if pfqtv_prev.fact_quarter4_value.present?
                      pfqtv_prev.fact_quarter4_value
                    elsif pfqtv_prev.fact_quarter3_value.present?
                      pfqtv_prev.fact_quarter3_value
                    elsif pfqtv_prev.fact_quarter2_value.present?
                      pfqtv_prev.fact_quarter2_value
                    elsif pfqtv_prev.fact_quarter1_value.present?
                      pfqtv_prev.fact_quarter1_value
                    end
                  end
                end
              when 7, 8, 9
                if pfqtv_prev.where("(fact_quarter3_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter1_value NOTNULL) and year = date_part('year', CURRENT_DATE)").present?
                  pfqtv_prev = pfqtv_prev.where("(fact_quarter3_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter1_value NOTNULL) and year = date_part('year', CURRENT_DATE)").first
                  if pfqtv_prev.fact_quarter3_value.present?
                    pfqtv_prev.fact_quarter3_value
                  elsif pfqtv_prev.fact_quarter2_value.present?
                    pfqtv_prev.fact_quarter2_value
                  elsif pfqtv_prev.fact_quarter1_value.present?
                    pfqtv_prev.fact_quarter1_value
                  end
                else
                  if pfqtv_prev.where("(fact_quarter1_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter4_value NOTNULL) and year < date_part('year', CURRENT_DATE)").present?
                    pfqtv_prev = pfqtv_prev.where("(fact_quarter1_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter4_value NOTNULL) and year < date_part('year', CURRENT_DATE)").order(year: :desc).first
                    if pfqtv_prev.fact_quarter4_value.present?
                      pfqtv_prev.fact_quarter4_value
                    elsif pfqtv_prev.fact_quarter3_value.present?
                      pfqtv_prev.fact_quarter3_value
                    elsif pfqtv_prev.fact_quarter2_value.present?
                      pfqtv_prev.fact_quarter2_value
                    elsif pfqtv_prev.fact_quarter1_value.present?
                      pfqtv_prev.fact_quarter1_value
                    end
                  end
                end
              when 10, 11, 12
                if pfqtv_prev.where("(fact_quarter4_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter1_value NOTNULL) and year = date_part('year', CURRENT_DATE)").present?
                  pfqtv_prev = pfqtv_prev.where("(fact_quarter4_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter1_value NOTNULL) and year = date_part('year', CURRENT_DATE)").first
                  if pfqtv_prev.fact_quarter4_value.present?
                    pfqtv_prev.fact_quarter4_value
                  elsif pfqtv_prev.fact_quarter3_value.present?
                    pfqtv_prev.fact_quarter3_value
                  elsif pfqtv_prev.fact_quarter2_value.present?
                    pfqtv_prev.fact_quarter2_value
                  elsif pfqtv_prev.fact_quarter1_value.present?
                    pfqtv_prev.fact_quarter1_value
                  end
                else
                  if pfqtv_prev.where("(fact_quarter1_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter4_value NOTNULL) and year < date_part('year', CURRENT_DATE)").present?
                    pfqtv_prev = pfqtv_prev.where("(fact_quarter1_value NOTNULL or fact_quarter2_value NOTNULL or fact_quarter3_value NOTNULL or fact_quarter4_value NOTNULL) and year < date_part('year', CURRENT_DATE)").order(year: :desc).first
                    if pfqtv_prev.fact_quarter4_value.present?
                      pfqtv_prev.fact_quarter4_value
                    elsif pfqtv_prev.fact_quarter3_value.present?
                      pfqtv_prev.fact_quarter3_value
                    elsif pfqtv_prev.fact_quarter2_value.present?
                      pfqtv_prev.fact_quarter2_value
                    elsif pfqtv_prev.fact_quarter1_value.present?
                      pfqtv_prev.fact_quarter1_value
                    end
                  end
                end
              end %>
          </td>
      </tr>
    <% end %>
    <% if targets.empty? %>
      <tr>
        <td colspan="3"><span>Нет данных</span></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
