<%#-- copyright
OpenProject My Project Page Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% if defined? block_name_id %>
  <%= content_for block_name_id %>
<% end %>

<h3 class="widget-box--header">
  <span class="widget-box--header-title"><%= l(:label_table_dostizheniy) %></span>
</h3>

<div class="overview">
  <table class="generic-table target-dostizheniy">
    <colgroup>
      <col highlight-col>
      <col highlight-col>
      <col highlight-col>
    </colgroup>
    <thead>
    <tr>
      <th>
        <div class="generic-table--header-outer">
          <div class="generic-table--header">
                  <span>
                    <%= l(:label_target_result) %>
                  </span>
          </div>
        </div>
      </th>
      <th>
        <div class="generic-table--header-outer">
          <div class="generic-table--header">
                  <span>
                    <%= l(:label_target_plan) %>
                  </span>
          </div>
        </div>
      </th>
      <th>
        <div class="generic-table--header-outer">
          <div class="generic-table--header">
                  <span>
                    <%= l(:label_target_fact) %>
                  </span>
          </div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <% targets = @project.targets.where("type_id != ?",TargetType.where(name: I18n.t('targets.target')).first.id) %>
    <% slice_fact_now = LastFactTarget.get_now(@project.id) %>
    <% slice_plan_now = FirstPlanTarget.get_now(@project.id) %>
    <% targets.map do |t| %>
      <% target_plan_now = slice_plan_now.find {|slice| slice["target_id"] == t.id} %>
      <% target_fact_now = slice_fact_now.select {|slice| slice["target_id"] == t.id} %>
      <tr>
        <td><strong><%= link_to t.name, edit_project_target_path(t.project_id, t.id) %></strong></td>
        <td>
          <%= target_plan_now.nil? ? 0.0 : target_plan_now["value"].nil? ? 0.0 : target_plan_now["value"].to_f %>
          </td>
        <td>
          <%= target_fact_now.sum { |f| f["value"].nil? ? 0 : f["value"].to_f } %>
          </td>
      </tr>
    <% end %>
    <% if targets.empty? %>
      <tr>
        <td colspan="3"><span>Нет данных</span></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
