<%#-- copyright
OpenProject My Project Page Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% if defined? block_name_id %>
  <%= content_for block_name_id %>
<% end %>

<h3 class="widget-box--header">
  <span class="widget-box--header-title"><%= l(:label_table_dostizheniy) %></span>
</h3>

<div class="overview">
  <table class="generic-table target-dostizheniy">
    <colgroup>
      <col highlight-col>
      <col highlight-col>
      <col highlight-col>
    </colgroup>
    <thead>
    <tr>
      <th>
        <div class="generic-table--header-outer">
          <div class="generic-table--header">
                  <span>
                    <%= l(:label_target_result) %>
                  </span>
          </div>
        </div>
      </th>
      <th>
        <div class="generic-table--header-outer">
          <div class="generic-table--header">
                  <span>
                    <%= l(:label_target_plan) %>
                  </span>
          </div>
        </div>
      </th>
      <th>
        <div class="generic-table--header-outer">
          <div class="generic-table--header">
                  <span>
                    <%= l(:label_target_fact) %>
                  </span>
          </div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <% pfqtv = PlanFactQuarterlyTargetValue.where("year = date_part('year', CURRENT_DATE) and project_id = ?", @project.id) %>
    <% pfqtv.map do |q| %>
      <tr>
        <td><strong><%= q.target %></strong></td>
        <td>
          <%= case DateTime.now.month
             when 1, 2, 3
               q.target_quarter1_value
             when 4, 5, 6
               q.target_quarter2_value
             when 7, 8, 9
               q.target_quarter3_value
             when 10, 11, 12
               q.target_quarter4_value
             end %></td>
        <td>
          <%= case DateTime.now.month
             when 1, 2, 3
               q.fact_quarter1_value
             when 4, 5, 6
               q.fact_quarter2_value
             when 7, 8, 9
               q.fact_quarter3_value
             when 10, 11, 12
               q.fact_quarter4_value
             end %></td>
      </tr>
    <% end %>
    <% if pfqtv.empty? %>
      <tr>
        <td colspan="3"><span>Нет данных</span></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
