<%= error_messages_for :setting %>
<section class="form--section">
<!--  <div class="form--field"><%#= f.text_field 'table_name', required: true, readonly: true, container_class: '-middle' %></div>-->
<!--  <div class="form--field"><%#= f.text_field 'column_name', required: true, container_class: '-middle' %></div>-->
  <%# setting_types = [["План 1 (План мероприятий по реализации регионального проекта)", "UploadPlanType1"], ["План 2 (Контрольные точки)", "UploadPlanType2"]] %>
  <% table = [["Мероприятия", "work_packages"], ["Государственные контракты", "contracts"],
              ["Организации", "organizations"], ["Пользователи", "users"],
              ["Должности", "positions"], ["Типовые риски", "risks"],
              ["Произвольный объект", "arbitary_objects"]] %>
  <% type = [["Текст", "text"], ["Число", "number"], ["Дата", "date"], ["Пользователь", "user"]] %>

  <div class="form--field" id="setting-type-block">
    <%= f.select(:setting_type, options_for_select(setting_types, setting_type), {}, :id => 'setting-type-select') %>
    <%#= f.text_field :setting_type, placeholder: 'введите новое значение типа', :id => 'setting-type-input' %>
  </div>


  <div class="form--field">
    <%= f.select(:table_name, options_for_select(table), {}, :id => "table-list")%>
  </div>

  <div class="form--field">
    <%#= f.select(:column_name, options_for_select(columns)) %>
    <%= f.select(:column_name, options_for_select(columns), {}, :id => "column-list") %>
  </div>

  <div class="form--field">
    <%= f.select(:column_type, options_for_select(type), {}, :id => "type-list")%>
  </div>

  <div class="form--field"><%= f.text_field 'column_num', required: true, container_class: '-middle' %></div>
  <div class="form--field"><%= f.check_box 'is_pk', required: false , container_class: '-middle' %></div>
</section>

<%=javascript_include_tag 'plan_uploader_settings' %>
