<% html_title 'Настройка соответствия полей' %>

<%# local_assigns[:additional_breadcrumb] = @plan_uploader_settings %>
<%= breadcrumb_toolbar %>

<%= toolbar title: 'Настройка соответствия полей' do %>
<!--  <li class="toolbar-item">-->
    <%#= link_to new_plan_uploader_setting_path,
                { class: 'button -alt-highlight',
                  aria: {label: 'Новое поле'},
                  title: 'Новое поле'} do %>
      <%#= op_icon('button--icon icon-add') %>
<!--      <span class="button--text">Новое поле</span>-->
    <%# end %>
<!--  </li>-->
<% end %>


<%= form_tag({}) do -%>

  <% @plan_uploader_settings_types.each do |setting_type| %>
    <h3 class="-no-border">
      <%= setting_type.setting_type %>
    </h3>
    <div class="generic-table--container">
      <div class="generic-table--results-container">
        <table class="generic-table" id="plan_uploader_settings_items">
        <colgroup>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
          <col highlight-col>
        </colgroup>
        <thead>
        <tr>
          <th>
            <%= PlanUploaderSetting.human_attribute_name(:column_num) %>
          </th>
          <th>
            <%= PlanUploaderSetting.human_attribute_name(:column_name) %>
          </th>
          <th>
            <%= PlanUploaderSetting.human_attribute_name(:column_type) %>
          </th>
          <th>
            <%= PlanUploaderSetting.human_attribute_name(:table_name) %>
          </th>
          <th>
            <%= PlanUploaderSetting.human_attribute_name(:is_pk) %>
          </th>
          <th>
            Действия
          </th>
        </tr>
        </thead>
        <tbody>
          <% @plan_uploader_settings.each do |setting| %>
            <%= render partial: 'settings_table', locals: { setting: setting, setting_type: setting_type} %>
          <% end %>
        </tbody>
        </table>

        <div class="wp-inline-create-button">
        <%= link_to new_plan_uploader_setting_path(setting_type: setting_type.setting_type),
                    { class: 'wp-inline-create--add-link',
                      aria: {label: 'Новое поле'},
                      title: 'Новое поле'} do %>
                      <%= op_icon('icon icon-add') %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end -%>
