<%#-- copyright
OpenProject Documents Plugin

Former OpenProject Core functionality extracted into a plugin.

Copyright (C) 2009-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= stylesheet_link_tag 'documents/documents.css' %>

<%= toolbar title: l(:label_document_plural) do %>
  <% if authorize_for(:documents, :new) %>
    <li class="toolbar-item">
      <%= link_to({:controller => '/documents', :action => 'new', :project_id => @project},
                  { class: 'button -alt-highlight',
                    aria: {label: t(:label_document_new)},
                    title: t(:label_document_new)}) do %>
        <%= op_icon('button--icon icon-add') %>
        <span class="button--text"><%= t(:label_document_new) %></span>
      <% end %>
    </li>
    <li class="toolbar-item">
      <%= link_to({:controller => '/documents', :action => 'index', :project_id => @project, :selected_view => @selected_view == "table" ? "explorer" : "table" },
                  { class: 'button ',
                    aria: {label: @selected_view == "table" ? t("label_document_view_explorer") : t("label_document_view_table")},
                    title: @selected_view == "table" ? t("label_document_view_explorer") : t("label_document_view_table")}) do %>
        <%= @selected_view == "table" ? op_icon('button--icon icon-organization') : op_icon('button--icon icon-enumerations') %>
      <% end %>
    </li>
  <% end %>
<% end %>
<%= styled_form_tag(project_documents_path(project_id: @project.id), { method: :get, id: 'query_form' }) do %>
  <fieldset id="filters" class="simple-filters--container">
    <legend><%= t(:label_filter) %></legend>
    <h2><%= t(:label_filter) %></h2>
    <ul class="simple-filters--filters">
      <li class="simple-filters--filter">
        <%= styled_label_tag :filter_by_date, t(:label_by_date_from), class: 'simple-filters--filter-name' %>
        <div class='simple-filters--filter-value'>
          <%= styled_text_field_tag :filter_start_date, @filter_start_date, class: '-augmented-datepicker' %>
        </div>
      </li>
      <li class="simple-filters--filter">
        <%= styled_label_tag :filter_by_date, t(:label_by_date_to), class: 'simple-filters--filter-name' %>
        <div class='simple-filters--filter-value'>
          <%= styled_text_field_tag :filter_end_date, @filter_end_date, class: '-augmented-datepicker' %>
        </div>
      </li>
      <li class="simple-filters--filter">
        <%= styled_label_tag :filter_by_category, t(:label_by_category), class: 'simple-filters--filter-name' %>
        <div class='simple-filters--filter-value'>
          <%= styled_select_tag :filter_category, options_for_select(@existing_categories, @filter_category), include_blank: true %>
        </div>
      </li>
      <li class="simple-filters--filter">
        <%= styled_label_tag :filter_by_user,  t(:label_by_user), class: 'simple-filters--filter-name' %>
        <div class="simple-filters--filter-value">
          <%= styled_select_tag :filter_user,options_for_select(@existing_users,@filter_user), include_blank: true  %>
        </div>
      </li>
        <%= submit_tag t(:button_apply), class: 'button -highlight -small' %>
        <%= link_to t(:button_clear), project_documents_path(project_id: @project.id), class: 'button -small -with-icon icon-undo' %>
      </li>
    </ul>
  </fieldset>
<% end %>
<% if @selected_view == "table" %>
<div class="generic-table--container">
  <div class="generic-table--results-container">
    <table class="generic-table" id="documents">
              <colgroup>
                <col highlight-col>
                <col highlight-col>
                <col highlight-col>
                <col highlight-col>
                <col highlight-col>
                <col highlight-col>
                <col highlight-col>
              </colgroup>
      <thead>
      <tr>
        <%= sort_header_tag("id", :caption => '#') %>
        <%= sort_header_tag("title", :caption => Document.human_attribute_name(:title)) %>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Document.human_attribute_name(:description) %>
                </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Document.human_attribute_name(:category)%>
                </span>
            </div>
          </div>
        </th>
        <%= sort_header_tag("user", :caption => Document.human_attribute_name(:user)) %>
        <%= sort_header_tag("created_on", :caption => Document.human_attribute_name(:created_on)) %>

        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Document.human_attribute_name(:attachments) %>
                </span>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
        <% @documents.each do |document|%>
        <tr id="documents-<%= document.id %>">
          <%= content_tag(:td, link_to( h(document.id), :controller => '/documents', :action => 'show', :id => document)) %>
          <%= content_tag(:td,link_to( h(document.title), :controller => '/documents', :action => 'show', :id => document)) %>
          <%= content_tag(:td, document.description) %>
          <%= content_tag(:td, document.category) %>
          <%= content_tag(:td, User.find(document.user_id).fio) %>
          <%= content_tag(:td, format_activity_day(document.created_on)) %>
          <td>
            <ul style="list-style-type: none; margin: 0;">
              <% document.attachments.each do |attachment| %>
                <li>
                  <%= link_to(h(attachment.filename), attachment_path(attachment.id,attachment.filename),{class: '', title: l(:added_by,attachment.author.fio)}) %>
                </li>
              <% end %>
              <li>
                <%= link_to( op_icon('icon-add' ), :controller => '/documents', :action => 'show', :id => document) %>
              </li>
            </ul>
          </td>
          <%=content_tag(:td, link_to(op_icon('icon-delete'), {controller: '/documents', action: 'destroy', id: document}, class: 'button', data: { confirm: l(:text_are_you_sure) }, method: :delete) ) %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% elsif @selected_view == "explorer" %>
<div class="generic-table--container">
  <div class="generic-table--results-container">
    <table class="generic-table" id="documents">
      <thead>
      <tr>
        <%= sort_header_tag("id", :caption => '#') %>
        <%= sort_header_tag("title", :caption => Document.human_attribute_name(:title)) %>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Document.human_attribute_name(:description) %>
                </span>
            </div>
          </div>
        </th>
        <th>
          <div class="generic-table--sort-header-outer">
            <div class="generic-table--sort-header">
                <span>
                  <%= Document.human_attribute_name(:category)%>
                </span>
            </div>
          </div>
        </th>
        <%= sort_header_tag("user", :caption => Document.human_attribute_name(:user)) %>
        <%= sort_header_tag("created_on", :caption => Document.human_attribute_name(:created_on)) %>
      </tr>
      </thead>
      <tbody>
      <% @documents.each do |document|%>
      <tr id="documents-<%= document.id %>">
        <%= content_tag(:td, op_icon('button--icon icon-folder')) %>
        <%= content_tag(:td,link_to( h(document.title), :controller => '/documents', :action => 'show', :id => document)) %>
        <%= content_tag(:td, document.description) %>
        <%= content_tag(:td, document.category) %>
        <%= content_tag(:td, User.find(document.user_id).fio) %>
        <%= content_tag(:td, format_activity_day(document.created_on)) %>
        <%=content_tag(:td, link_to(op_icon('icon-delete'), {controller: '/documents', action: 'destroy', id: document}, class: 'icon-2', data: { confirm: l(:text_are_you_sure) }, method: :delete) ) %>
        <%document.attachments.each do |attachment| %>
          </tr>
          <tr id="documents-attachment<%= attachment.id %>">
            <td>
            <%= op_icon('button--icon icon-hierarchy') %>
            <%= op_icon('button--icon icon-ticket-down') %>
            </td>
            <%= content_tag(:td,link_to(h(attachment.filename), attachment_path(attachment.id,attachment.filename)))  %>
            <%= content_tag(:td, attachment.description) %>
            <%= content_tag(:td, attachment.attach_type) %>
            <%= content_tag(:td, attachment.author.fio) %>
            <%= content_tag(:td, format_activity_day(attachment.created_at)) %>
            <%#=content_tag(:td, link_to(op_icon('icon-delete'), {controller: '/documents', action: 'destroy', id: document}, class: 'button', data: { confirm: l(:text_are_you_sure) }, method: :delete) ) %>
        <% end %>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
<% html_title(l(:label_document_plural)) -%>
