<div style="width:50%">

  <%= form.hidden_field 'related_task_id', value: @user_task.related_task_id %>

  <p>
    <%= form.collection_select(:object_type, Enumeration.where(type: 'UserTaskDirectory'), :name.to_s, :name.to_s) %>
  </p>

  <p>
    <%= form.collection_select(:assigned_to_id, User.all, :id, :lastname) %>
  </p>

  <p>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.date_field :due_date %>
  </p>

  <p>
    <%= form.check_box :completed %>
  </p>

</div>
