<style>
  .date-select {
    display: inline-block;
    width: 17%;
  }
</style>
<div style="width:50%">

  <%= form.hidden_field 'object_type', value: 'WorkPackage' %>

  <%
    @selected_project = @user_task.project_id
    @selected_wp = @user_task.object_id

  %>

  <div class="form--field">
    <%= form.select :project_id,
                    options_for_select(Project.where(type: Project::TYPE_PROJECT).all.map {|u| [u.name, u.id]}, @selected_project),
                    include_blank: true,
                    container_class: '-wide' %>
  </div>

  <div class="form--field">
    <%= form.select :object_id,
                    children_options_for_select_wp(WorkPackage.all.map {|u| [u.subject, u.project_id, u.id]}, @selected_wp),
                    include_blank: true,
                    container_class: '-wide' %>
  </div>

  <div class="form--field">
    <%= form.collection_select(:assigned_to_id, User.all, :id, :name, container_class: '-slim') %>
  </div>

  <div class="form--field">
    <%= form.text_area :text, container_class: '-wide' %>
  </div>
  <p>Срок:</p>
  <div class="form--field">

    <%= form.datetime_select :due_date, {}, { class: "date-select" } %>
  </div>
</div>



<%=javascript_include_tag 'select_wp_from_project' %>
