<p>
  <strong>Запрос</strong>
</p>
<p>
  <strong>Запрос от:</strong>
  <%= User.find_by(id: @user_task.user_creator_id).to_s %>
</p>
<p>
  <strong>Кому:</strong>
  <%= User.find_by(id: @user_task.assigned_to_id).to_s %>
</p>
<%=
  @ut_project_url = '#'
  if @user_task.project_id != nil && @user_task.project_id != 0
    if Project.find(@user_task.project_id)
      @ut_project_url = project_url(Project.find_by(id: @user_task.project_id))
      @ut_project_name = Project.find_by(id: @user_task.project_id).name
    end
  end
  @ut_wp_url = '#'
  if @user_task.object_id != nil && @user_task.object_id != 0
    if WorkPackage.find(@user_task.object_id)
      @ut_wp_url = work_package_url(WorkPackage.find_by(id: @user_task.object_id))
      @ut_wp_name = WorkPackage.find_by(id: @user_task.object_id).name
    end
  end
%>
<% if @ut_project_name != nil %>
  <p>
    <strong>Проект:</strong>
    <a href="<%= @ut_project_url %>"><%= @ut_project_name %></a>
  </p>
<% end
   if @ut_wp_name != nil %>
  <p>
    <strong>Пакет работ:</strong>
    <a href="<%= @ut_wp_url %>"><%= @ut_wp_name %></a>
  </p>
<% end %>
<p>
  <strong>Требуемая дата принятия:</strong>
  <%= @user_task.due_date.to_s %>
</p>
<p>
  <strong>Выполнено:</strong>
  <%=
    if @user_task.completed
      'Да'
    else
      'Нет'
    end
  %>
</p>
<p>
  <strong>Дата создания:</strong>
  <%= @user_task.created_at.to_s %>
</p>
<p>
  <strong>Дата обновления:</strong>
  <%= @user_task.updated_at.to_s %>
</p>
