<%#--
This file written by BAN
11/09/2019
++#%>
<%= toolbar title: t("activerecord.attributes.user_task.kind." + @user_task.kind.downcase) do %>
  <li class="toolbar-item">
    <%= link_to edit_user_task_path(@user_task),
                { class: 'button -highlight',
                  aria: {label: t(:button_edit)},
                  title: t(:button_edit)} do %>
      <%= op_icon('button--icon icon-edit') %>
      <span class="button--text"><%= t(:button_edit) %></span>
    <% end %>
  </li>
  <li class="toolbar-item">
    <%= link_to user_task_path(@user_task),
                method: :delete,
                data: {confirm: I18n.t(:text_are_you_sure)},
                class: 'button ',
                  aria: {label: t(:button_delete)},
                  title: t(:button_delete) do %>
      <%= op_icon('button--icon icon-delete') %>
      <span class="button--text"><%= t(:button_delete) %></span>
    <% end %>
  </li>
<% end %>
<%= form_with model: @user_task, local: true do |form| %>
<%= case @user_task.kind
    when 'Note'
      render partial: "user_tasks/show_note", locals: { form: form }
    when 'Request'
      if @user_task.object_type == 'WorkPackage'
        render partial: "user_tasks/show_request_wp", locals: { form: form }
      else
        render partial: "user_tasks/show_request", locals: { form: form }
      end
    when 'Task'
      render partial: "user_tasks/show_task", locals: { form: form }
    when 'Response'
      if @user_task.object_type == 'WorkPackage'
        render partial: "user_tasks/show_response_wp", locals: { form: form }
      else
        render partial: "user_tasks/show_response", locals: { form: form }
      end
    end
%>
<p>
  <strong>Текст:</strong>
  <%= @user_task.text %>
</p>
<% end %>
